body {
  margin: 0;
  background: url(links/keine_frau.jpg) lightgray 0% / cover no-repeat;
  background-position: center;
  animation: fadeInOutBackground 4s ease-in-out 1s forwards; /* Hintergrundbild-Animation */
}
.container {
  width: 100dvw;
  height: 100dvh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro_1 {
  font-family: Helvetica, sans-serif;
  color: white;
  font-style: italic;
  font-weight: 100;
  font-size: 5vw;
  line-height: 1.5; /* Anpassen der Zeilenhöhe */
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 120%;
  width: 80%; /* Ändern der Breite */
  max-width: 400px; /* Maximale Breite für responsives Verhalten */
  text-align: center; /* Zentrieren des Textes */
  padding: 20px; /* Hinzufügen von Padding */
  box-sizing: border-box; /* Box-Sizing für Padding-Berechnung */
  white-space: normal; /* Erlaube Zeilenumbruch */
}

.intro_2 {
  font-family: Helvetica, sans-serif;
  color: white;
  font-style: italic;
  font-weight: 100;
  font-size: 5vw;
  line-height: 120%;
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro_1 {
  animation: appearAndDisappear 4s ease-in-out 1s forwards; /* 4 Sekunden Dauer, 2 Sekunden Verzögerung */
}

.intro_2 {
  animation: appearAndDisappear 4s ease-in-out 6s forwards; /* 4 Sekunden Dauer, 6 Sekunden Verzögerung */
}

@keyframes appearAndDisappear {
  0% {
    opacity: 0; /* Startzustand: Unsichtbar */
  }
  25% {
    opacity: 1; /* 25% der Animation: Vollständig sichtbar */
  }
  75% {
    opacity: 1; /* 75% der Animation: Vollständig sichtbar */
  }
  100% {
    opacity: 0; /* Endzustand: Wieder unsichtbar */
  }
}
