body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  color: white;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  font-size: 12vw;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background: url(links/frau_mobile.png) lightgray 50% / cover no-repeat;
  position: relative;
}

.NOSE {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 7;
  align-content: end;
  text-align: right;
  margin-left: 2px; /* Oder transform: translateX(40px); */
  margin-bottom: 300px;
}

.DIVE {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 9;
  grid-column-end: 13;
  align-content: end;
  margin-left: 15px; /* Oder transform: translateX(40px); */
  margin-bottom: 300px;
}

.stars-container {
  grid-row-start: 16;
  grid-row-end: 16;
  grid-column-start: 4;
  grid-column-end: 13;
  background: url(links//1_star_mobiel.png) no-repeat;
  background-size: 110%;
  background-position: center;
}

.title {
  grid-row-start: 17;
  grid-row-end: 17;
  grid-column-start: 4;
  grid-column-end: 13;
  font-size: 1.6vh;
  line-height: 130%;
  text-align: center;
  align-self: end; /* Füge align-self hinzu und setze es auf "end" */
  font-weight: 100;
}

.circle {
  grid-row-start: 8;
  grid-row-end: 12;
  grid-column-start: 6;
  grid-column-end: 11;
  background: url(links//circle_mobile.png) no-repeat;
  background-size: 100%;
  background-position: center;
  transition: transform 2s; /* Übergang für die Transformation hinzugefügt */
  animation: rotateClockwise 20s linear infinite; /* Animation für die kontinuierliche Drehung */
}

@keyframes rotateClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
