body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  color: white;
}
.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 10vh 8fr 50vh 8fr 10vh;
  grid-template-rows: 1fr 1fr 5vh 50vh 10vh 1fr 1fr;
  background: url(links/no_frau.jpg) lightgray 50% / cover no-repeat;
}
.intro_1 {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 3;
  font-size: 2vw;
  text-align: center;
  align-content: center;
  line-height: 150%;
  font-weight: 100;
}
.intro_2 {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 3;
  font-size: 2vw;
  text-align: center;
  align-content: center;
  line-height: 150%;
  font-weight: 100;
}
