body {
  margin: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 10vh 8fr 50vh 8fr 10vh;
  grid-template-rows: 1fr 1fr 5vh 50vh 10vh 1fr 1fr;
  background: url(links/keine_frau.jpg) lightgray 0% / cover no-repeat;
}

.intro_1,
.intro_2 {
  font-family: Helvetica, sans-serif;
  color: white;
  font-style: italic;
  font-weight: 100;
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 3;
  font-size: 2vw;
  text-align: center;
  align-content: center;
  line-height: 120%;
  font-weight: 100;
  opacity: 0; /* Starte mit einer Opazität von 0, um die Elemente unsichtbar zu machen */
}

.intro_1 {
  animation: appearAndDisappear 4s ease-in-out 1s forwards; /* 4 Sekunden Dauer, 2 Sekunden Verzögerung */
}

.intro_2 {
  animation: appearAndDisappear 4s ease-in-out 6s forwards; /* 4 Sekunden Dauer, 6 Sekunden Verzögerung */
}

@keyframes appearAndDisappear {
  0% {
    opacity: 0; /* Startzustand: Unsichtbar */
  }
  25% {
    opacity: 1; /* 25% der Animation: Vollständig sichtbar */
  }
  75% {
    opacity: 1; /* 75% der Animation: Vollständig sichtbar */
  }
  100% {
    opacity: 0; /* Endzustand: Wieder unsichtbar */
  }
}
